/*
	bg1 rgb(10,10,10)
	bg2 rgb(60,60,60)
	normal rgb(40,254,20)
*/
body {
	font-family: 'DejaVu Sans', Helvetica, sans-serif;
	color: rgb(40,254,20);
}

.remark-container {
	background-color: #000000;
}

h1, h2, h3, h4 {
	font-family: Georgia, 'Droid Serif', FreeSerif, 'DejaVu Serif', serif;
	font-weight: normal;
	color: rgb(255,255,2);
}

.title-slide .remark-slide-number {
  display: none;
}

.nonumber .remark-slide-number {
  display: none;
}

.remark-slide-content h1 {
	font-size: 180%;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

.remark-slide-content h2 {
	font-size: 120%;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

.remark-slide-content h3 {
	font-size: 100%;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

li {
	margin-top: 8px;
	margin-bottom: 8px;
}

.footnote {
	position: absolute;
	bottom: 3em;
	padding-right: 4em;
	font-size: 80%;
}

.remark-code, .remark-inline-code {
	color: rgb(1,184,255);
	font-family: 'DejaVu Sans Mono', Monaco, monospace;
}

.remark-slide-content {
	background-color: rgb(10,10,10);
	background-size: contain;
}

.hi1 { color: rgb(1,184,255); }
.hi2 { color: rgb(230,159,31); }
.hi3 { color: rgb(255,255,2); }
.hi4 { color: rgb(255,0,0); }
.subdued { color: rgb(0,254,0); }

.reftext {
	font-size: 70%;
}

.shout {
	color: rgb(230,159,31);
	background-color: rgb(0,0,0);
	font-size: 300%;
	padding: 20px;
}

/* kable */
th {
	color: rgb(1, 185, 255);
}

th, td {
	font-family: 'DefaVu Sans Mono', Monaco, monospace;
	padding-right: 10px;
}

/* Two-column layout */
.leftColumn {
	width: 50%;
	height: 92%;
	float: left;
}
.rightColumn {
	width: 50%;
	float: right;
}
.leftColumn70 {
	float: left;
	width: 70%;
}
.rightColumn30 {
	float: right;
	width: 30%;
}
.leftColumn30 {
	float: left;
	width: 30%;
}
.rightColumn70 {
	float: right;
	width: 70%;
}
.pullLeft {
	float: left;
	width: 48%;
}
.pullRight {
	float: right;
	width: 48%;
}
.pullRight ~ * {
	clear: both;
}

img {
	max-width: 100%;
}

.w70 img {
	max-width: 70%;
}
