.customTbl > thead > tr > th, .customTbl > tbody > tr > th, .customTbl > tfoot > tr > th, .customTbl > thead > tr > td, .customTbl > tbody > tr > td, .customTbl > tfoot > tr > td {
	border: none;
}

.customTbl > tbody > tr:nth-of-type(odd) {
	background-color: #222222;
}
